Data/4/result_set_*
.vscode
Code/result_set_*
Data/5/R2Data/*
Data/10/R2Data/*
Code/output
Data/15/R2Data/*
Code/data_set*
Code/HVC_*
Code/__pycache__
Data/5/Old
Data/10/old
.DS_Store
Data/temp/*.temp
